.DS_Store

# Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# IDE
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Spring Boot
application-local.yml
application-local.properties

# Docker volumes
mysql-data/
